In [3]:
import pandas as pd
from pathlib import Path

In [2]:
train = "dataset/train.csv.zip"

In [5]:
if Path(train).suffix == ".zip":
    import zipfile
    with zipfile.ZipFile(train, "r") as zip_ref:
        zip_ref.extractall("unzipped")
        train = "unzipped/train.csv"

# EDA

In [6]:
df = pd.read_csv(train)

In [11]:
print(df.shape,"\n")
print(df.info(),"\n")

(3000888, 6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 137.4+ MB
None

In [14]:
df["date"] = pd.to_datetime(df["date"], format="%Y-%m-%d")
df["date"].sample(10)

1252476   2014-12-05
465396    2013-09-19
1700033   2015-08-15
2091849   2016-03-22
901077    2014-05-22
577870    2013-11-21
1462912   2015-04-03
1537042   2015-05-15
244196    2013-05-18
605823    2013-12-06
Name: date, dtype: datetime64[ns]

In [20]:
df["year"] = pd.DatetimeIndex(df["date"]).year
df["month"] = pd.DatetimeIndex(df["date"]).month
df["day"] = pd.DatetimeIndex(df["date"]).day

print(df.groupby("year").size(),"\n")
print(df.groupby("month").size(),"\n")
print(df.groupby("day").size(),"\n")

year
2013    648648
2014    648648
2015    648648
2016    650430
2017    404514
dtype: int64

month
1     276210
2     251262
3     276210
4     267300
5     276210
6     267300
7     276210
8     247698
9     213840
10    220968
11    213840
12    213840
dtype: int64

day
1     99792
2     99792
3     99792
4     99792
5     99792
6     99792
7     99792
8     99792
9     99792
10    99792
11    99792
12    99792
13    99792
14    99792
15    99792
16    98010
17    98010
18    98010
19    98010
20    98010
21    98010
22    98010
23    98010
24    98010
25    90882
26    98010
27    98010
28    98010
29    90882
30    89100
31    57024
dtype: int64